<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | LocaLink</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <h2 class="logo">Localink</h2>
      <nav class="navigation">
        <a href="/home-worker">Home</a>
        <a href="/jobsforworker">Requests</a>
        <a href="/skills-worker">Skills</a>
        <a href="/logout">Logout</a>
      </nav>
        <!-- Add a logout link -->
    </header>
    <main>
        <h2>Requests</h2>
        <span>You currently have no requests</span>
    </form>
    </main>
    <script>


    </script>
  </body>
</html>
