<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | LocaLink</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <h2 class="logo">LocaLink</h2>
      <nav class="navigation">
        <a href="/home-worker">Home</a>
        <a href="#">About</a>
        <a href="/logout">Logout</a>
        <!-- Add a logout link -->
    </header>
    <div class="locationBtn">
      <form action="/profile-worker">
        <button type="submit" class="btn">Profile</button>
      </form>
    </div>
    <main>
        <form action="/job-review" method="post" class="rate">
          <h2>How did <% worker.firstName %> do?</h2>
          <input type="radio" id="star5" name="rate" value="5"/>
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3"/>
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2"/>
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1"/>
          <label for="star1" title="text">1 star</label>
          <label>Review</label>
          <textarea name="review" cols="50" rows="3"></textarea>

          <button type="submit">Submit</button>
          <input type="hidden" name="worker" value="<%= JSON.stringify({ workerid: worker.workerid, jobid: jobid })%>">
        </form>
      </main>
    <script>
            document.querySelector('form').addEventListener('submit', function(event) {

            var selectedRating = document.querySelector('input[name="rate"]:checked').value;
            console.log('You rated: ' + selectedRating + ' stars');
            });
    </script>
  </body>
</html>
