@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
}

.form-box.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.form-box.login  p{
    margin: 10px
}

.homie {
    font-size: 20px !important;
}
.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

#asdf {
    display: flex;
    align-items: center;
    align-content: center;
}

.navigation .btnRegister-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnRegister-popup:hover {
    background: #fff;
    color: #162938;
}

/*Added 4/27*/
.input-box .btn1 {
    position: absolute;
    top: -25%;
}

/*Added 4/27*/
.locationBtn .btn2 {
    position: absolute;
    top: 16%;
    left: 75%;
}

/*Added 4/27*/
.locationBtn .btn3 {
    position: absolute;
    top: 16%;
    left: 62%;
}

/*Added 4/27*/
.locationBtn .btn4 {
    position: absolute;
    top: 16%;
    left: 45%;
}

/*Added 4/27*/
.locationBtn .btn5 {
    position: absolute;
    top: 16%;
    left: 57.5%;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2 {
    font-size: 2em;
    color: #162938;
    text-align: center;
}

/*Added 4/27*/
.form-box h3 {
    font-size: 0.5em;
    color: #d62b07;
    text-align: center;
}

/*Added 4/27*/
.form-box h4 {
    font-size: 2.5em;
    color: #162938;
    text-align: center;
}

/*Added 4/27*/
.form-box h5 {
    font-size: 1.5em;
    color: #d62b07;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

/*Added 4/27*/
.input-box i {
    left: -12px;
    top: 25%;
    position: absolute;
    transform: translate(-100%, 0);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/*Added 4/27*/
.input-box input:focus~i,
.input-box input:valid~i {
    opacity: 1;
    transform: translate(0, 0);
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

/*Added 4/27*/
.input-box textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.8em;
    color: #162938;
    font-weight: 600;
    padding: 15px 35px 0 5px;
}

/*Added 4/27*/
.input-box textarea:focus~label,
.input-box textarea:valid~label {
    top: -5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a {
    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Added 4/27*/
.btn1 {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Added 4/27*/
.btn2 {
    width: 15%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Added 4/27*/
.btn3 {
    width: 10%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Added 4/27*/
.btn4 {
    width: 10%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/*Added 4/27*/
.btn5 {
    width: 15%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10 px;
}

.login-register p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/*Added 4/27*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  /*Added 4/27*/
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  /*Added 4/27*/
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }

  /*Added 4/27*/
  .modal-header .words {
    font-size: 1.00rem;
    font-weight: bold;
  }
  
  /*Added 4/27*/
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  /*Added 4/27*/
  .modal-body {
    padding: 10px 15px;
  }
  
  /*Added 4/27*/
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  /*Added 4/27*/
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

.form-box.login {
    width: 300px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

.form-box.register{
    width: 300px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.location-worker, .skills{
    width: 300px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

.skills button {
    margin: 10px 0;
}

/*Added 4/27*/
.form-box.salary-worker{
    width: 300px; /* Adjust as needed */
    height: 400px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.experience-worker{
    width: 400px; /* Adjust as needed */
    height: 450px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.done{
    width: 400px; /* Adjust as needed */
    height: 260px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.jobType-employer{
    width: 400px; /* Adjust as needed */
    height: 350px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.location-employer{
    width: 300px; /* Adjust as needed */
    height: 500px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

/*Added 4/27*/
.form-box.timeLength-employer{
    width: 350px; /* Adjust as needed */
    height: 300px; /* Adjust as needed */
    border: 1px solid white; /* Adjust as needed */
    border-radius: 6px;
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8);
}

main {
    width: 300px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    border: 1px solid black; /* Adjust as needed */
    padding: 20px; /* Adjust as needed */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    background-color: rgba(255, 255, 255, 0.8); /* Fill the box with white color */
}

p {
    margin-bottom: 20px; /* Adjust as needed */
}


/*
REGISTER PAGE
*/
.dropdown {
    display: inline-block;
    position: relative;
    
}
  
button {
    border:none;
    border-radius:5px;
    padding:15px 30px;
    font-size:18px;
    cursor:pointer;
}

button:hover{
background-color:#ddd;
}

.dropdown-options {
display: none;
position: absolute;
overflow: auto;
background-color:#fff;
border-radius:5px;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-options {
display: block;
}

.dropdown-options a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
padding:20px 40px;
}

.dropdown-options a:hover {
color: #0a0a23;
background-color: #ddd;
border-radius:5px;
}

li {
    border-bottom: 1px solid black;
    list-style: none;
    margin: 15px 0;
}


/*workers visibility page*/
#visibility-status {
    margin: 5px 0;
}

/*job posting page*/
.form-box.jobType-employer {
    width: auto;
    height: auto;
}

/*potential workers (employers) page*/
#potential-workers-list {
    height: auto;
}

.worker-list li.selected {
    background-color: #b0c4de;
}


/*stars rating*/


/*login page*/
.login-register {
    margin: 20px 0 0 0;
    padding: 0
}

.login {
    height: auto !important;
}

/*register page*/
.register {
    height: auto !important;
}

.location-worker {
    height: auto !important;
}

/*add skills page*/
#skillSelect {
    margin: 0 auto;
    border: none;
}

.select-skill {
    display: flex;
    justify-content: center;
    align-items: center;
}

select#skillSelect {
    width: 60%; /* Or any specific width */
    padding: 5px;
    border: 1px solid #ccc;
    appearance: none; /* Removes default styling */
    background-color: white;
    border-radius: 4px;

  }

  select#skillSelect option {
    padding: 0 auto;
  } 

  .input-box #experience, .input-box #preferredrate {
    border-bottom: 1px black solid;
    appearance: none;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  #add-another-skill {
    width: auto;
    margin: 0 auto;
  }

  .skill-box {
    display: flex;
    flex-direction: column;
    align-items:baseline;
  }

  .select-skill {
    height: 0 !important;
  }

  input#experience, #preferredrate {
    margin: 5px 0;
  }

  #skills-redirect {
    width: auto;
    margin: 20px auto;
  }

 .container-visibility {
    display: flex;
    flex-direction: column;
 }


 #visibility-status {
    margin: 10px auto 0;
 }

 #abc {
    display:none;
 }

 #yuh {
    display: flex;
    flex-direction: column;
 }


.form-box.location-employer {
    height: 100% !important;
}

.jobType-employer form{
    border-bottom: 1px solid black !important;
    display: flex;
    flex-direction: column;
}

.job-description-class {
    border-bottom: 2px solid black !important;
}

#duration-id {
    border-bottom: 2px solid black;
}

#sddf {
    display: flex;
    flex-direction: column;
}


#asdfgh {
    resize: none;
}

.rate-werker {
    display: flex !important;
    flex-direction: column !important;
    width: auto;

}


/*star rating*/


#ratingthing {
    width: auto;
    align-self: center;
}

.rate {
    display: flex;
    margin: 5px 0 ;
    flex-direction: column;
    align-items: center;
}
.rate > * {
    margin: 5px 0;
}

/*job request for worker*/
#job-request-list {
    height: auto !important;
}

.worker-list li{
    border-bottom: none !important;
}

#potential1 {

}

#potential-workers-list {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Star rating wrapper setup */
.star-rating {
    direction: rtl; /* Right-to-left to ensure filling stars from right to left */
    font-size: 30px; /* Adjust the size of the stars */
    unicode-bidi: bidi-override; /* Maintain star order */
}

/* Hide the radio buttons */
.star-rating input {
    display: none;
}

/* Style for the star labels */
.star-rating label {
    color: #ccc; /* Default color of stars (gray) */
    cursor: pointer; /* Show pointer cursor when hovering over a star */
    font-size: 2rem; /* Star size, can be adjusted */
}

/* Change star color on hover and for selected stars */
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input:checked ~ label {
    color: gold; /* Color of active stars */
}

/* Optional: prevent highlight selection of stars text */
.star-rating label {
    user-select: none; /* Prevent text selection */
}
